<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="yt_dl_protocol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <userSettings>
    <yt_dl_protocol.Properties.Settings>
      <setting name="ytdl_path" serializeAs="String">
        <value />
      </setting>
      <setting name="protocol_registered" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="protocol_ytdl" serializeAs="String">
        <value>ytdl</value>
      </setting>
      <setting name="download_path" serializeAs="String">
        <value />
      </setting>
      <setting name="autoclose_on_finish" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="additional_args" serializeAs="String">
        <value />
      </setting>
    </yt_dl_protocol.Properties.Settings>
  </userSettings>
</configuration>